html, body {
    cursor: default;
    width: 100%;
    height: 100%;
    position: absolute;
   overflow:scroll;
    overflow-x: hidden;
    overflow-y:hidden;
}
body{
    overflow-y:visible;
}

.desserts {
    width: 100%;
    height: 100%;
}

.desserts > .dessertsPros {
    width: 100%;
    height: 100%;
}

/*.iceCream>.iceCreamPros>ul{
    width: 100%;
    height: 100%;
}*/
.desserts > .dessertsPros > ul > li:nth-child(1) {
    background-image: url(../images/90_thumb_G_1448006165626.jpg)/*tpa=http://121.43.231.188/yuanfang/Blackswancake/images/90_thumb_G_1448006165626.jpg*/;
}

.desserts > .dessertsPros > ul > li:nth-child(2) {
    background-image: url(../images/43_thumb_G_1448006210047.jpg)/*tpa=http://121.43.231.188/yuanfang/Blackswancake/images/43_thumb_G_1448006210047.jpg*/;
}

.desserts > .dessertsPros > ul > li:nth-child(3) {
    background-image: url(../images/91_thumb_G_1448006361571.jpg)/*tpa=http://121.43.231.188/yuanfang/Blackswancake/images/91_thumb_G_1448006361571.jpg*/;
}

.desserts > .dessertsPros > ul > li:nth-child(4) {
    background-image: url(../images/55_thumb_G_1448006394990.jpg)/*tpa=http://121.43.231.188/yuanfang/Blackswancake/images/55_thumb_G_1448006394990.jpg*/;
}

.desserts > .dessertsPros > ul > li:nth-child(1) > .productsDetails {
    top: 15%;
    left: 5%;
    color: rgb(192, 192, 192);
}
.desserts > .dessertsPros > ul > li:nth-child(1) > .productsDetails>h3{
    width: 150px;
}

.desserts > .dessertsPros > ul > li:nth-child(2) > .productsDetails {
    top: 20%;
    left: -15%;
}

.desserts > .dessertsPros > ul > li:nth-child(3) > .productsDetails {
    top:62%;
    left: 70%;
    width: 100%;
    text-align: left;
}
.desserts > .dessertsPros > ul > li:nth-child(3) > .productsDetails>.smallLogo {
    width: 100%;
    /*text-align: center;*/
}


.desserts > .dessertsPros > ul > li:nth-child(4) > .productsDetails {
    top:62%;
    left: 5%;
}