html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product_son1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.product_son1 > .proSerials {
    width: 100%;
    height: 100%;
}

.product_son1 > .proSerials > ul {
    width: 100%;
    height: 100%;
}

.product_son1 > .proSerials > ul li {
    width: 33.33%;
    height: 100%;
    float: left;
    background-size: 100% 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* .product_son1>.proSerials>ul li:nth-child(1) {
  background-image: url(../images/1447114573367196974.jpg);
}

.product_son1>.proSerials>ul li:nth-child(2) {
  background-image: url(../images/1445987077509661404.jpg);
}

.product_son1>.proSerials>ul li:nth-child(3) {
  background-image: url(../images/1444857918743888719.jpg);
} */

.product_son1 > .proSerials > ul li a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.product_son1 > .proSerials > ul li a > .mask {
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
}

.product_son1 > .proSerials > ul li a .serialInfo {
    width: 80%;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    top: 20%;
    color: #fff;
}

.product_son1 > .proSerials > ul li a > .serialInfo h2 {
    display: inline-block;
    padding: 10px 20px;
    font: 700 14px/14px "microsoft yahei";
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.product_son1 > .proSerials > ul li a .serialInfo > .serialInfoDetail {
    display: none;
}

.product_son1 > .proSerials > ul li a .serialInfo span {
    display: block;
}

.product_son1 > .proSerials > ul li a .serialInfo p {
    padding: 5px 0;
    font-size: 12px;
}
